wellsense_project.code-workspace

firmware_arduino/.pio
firmware_arduino/.vscode/.browse.c_cpp.db*
firmware_arduino/.vscode/c_cpp_properties.json
firmware_arduino/.vscode/launch.json
firmware_arduino/.vscode/ipch

server_python/__pycache__/
server_python/*.pyc
server_python/venv/

web_application/*.log
web_application/.DS_Store
web_application/.env
web_application/.env.backup
web_application/.env.production
web_application/.phpactor.json
web_application/.phpunit.result.cache
web_application/.fleet
web_application/.idea
web_application/.nova
web_application/.phpunit.cache
web_application/.vscode
web_application/.zed
web_application/auth.json
web_application/node_modules
web_application/public/build
web_application/public/hot
web_application/public/storage
web_application/storage/*.key
web_application/storage/pail
web_application/vendor
web_application/Homestead.json
web_application/Homestead.yaml
web_application/Thumbs.db